body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(25, 25, 25);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;

}
.FulBody{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

h1{
    font-size: 60px;
}

.heading {
    font-size: 3em;
    margin-top: 50px;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
    overflow:hidden;

}

.content {
    font-size: 1.2em;
    margin-top: 20px;
    color: white;
}

.information {
    margin-top: 20px;
    color: white;
}

.rules {
    margin-top: 20px;
    color: white;
}

.start {
    margin-top: 30px;
}

#startgame {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(18, 18, 18);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startgame:hover {
    background-color: orangered;
}
